body {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
}

#container {
	width:650px;
	background-color:#E6E8E7;
	margin:0 auto;
	height:715px;
}

#buttons {
	width:600px;
	margin: 0 auto;
	padding:5px;
	text-align: center;
}

#puzzle{
	width:600px;
	height:600px;
	margin: auto;
	border:1px solid black;
	vertical-align: center;
	text-align: center;
	font-size:1px;
}

#url {
	width:600px;
	padding:10px auto;
	text-align: center;
}

li {
	text-decoration: none;
	display:inline;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

p {
	padding: 5px;
}

.box {
	background-color:black;
	display:inline-block;
}

#number {
	width:20px;
}
