body {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
}

#buttons {
	width:600px;
	margin: 10px auto;
	text-align: center;
}

li {
	text-decoration: none;
	display:inline;
}

button {
	background
}

p {
	padding-bottom: 5px;
}

#wrapper{
	width:600px;
	height:600px;
	margin:0 auto;
	border:1px solid black;
	vertical-align: center;
	text-align: center;
}

#url {
	width:600px;
	margin:10px auto;
	text-align: center;
}

.box {
	background-color:black;
	display:inline-block;
}

.solid {
	opacity: 0;
}

.trail {
	background-color: red;
}

#number {
	width:20px;
}
